
dependencies:
  cache_directories:
    - "~/.apt-cache"
  pre:
    - sudo rm -rf /var/cache/apt/archives && sudo ln -s ~/.apt-cache /var/cache/apt/archives && mkdir -p ~/.apt-cache/partial

apt-run: &apt-install
  name: Install System Packages
  command: |
    sudo apt update -qq
    sudo apt install -y python-pip

version: 2.1

executors:
  content-executor:
    docker:
      - image: circleci/python:2.7.13
    working_directory: ~/repo

jobs:
  validate-content:
    executor: content-executor
    steps:
      - run:
          name: Checkout Repository
          command: |
            if [ "${CIRCLE_BRANCH}" == "" ]; then
                git clone https://${GITHUB_TOKEN}@github.com/diogofgm/TA-ibm_secretserver
            else
                git clone --branch ${CIRCLE_BRANCH} https://${GITHUB_TOKEN}@github.com/diogofgm/TA-ibm_secretserver
            fi
      - restore_cache:
          key: deps1-{{ .Branch }}-{{ checksum "TA-ibm_secretserver/src/TA-ibm_secretserver/default/app.conf" }}
      - run: *apt-install
      # - run:
      #     name: Get Splunk Packaging Toolkit
      #     command: |
      #       curl -Ls https://download.splunk.com/misc/packaging-toolkit/splunk-packaging-toolkit-1.0.0.tar.gz -o splunk-packaging-toolkit-1.0.0.tar.gz
      #       mkdir splunk-packaging-toolkit-1.0.0
      #       tar -zxvf splunk-packaging-toolkit-1.0.0.tar.gz -C splunk-packaging-toolkit-1.0.0 --strip-components=1
      # - run:
      #     name: Install Splunk Packaging Toolkit
      #     command: |
      #       cd splunk-packaging-toolkit-1.0.0
      #       sudo pip install --upgrade pip setuptools
      #       sudo pip install virtualenv
      #       virtualenv --clear slim
      #       source slim/bin/activate
      #       pip install semantic_version
      #       pip install splunk-packaging-toolkit-1.0.0.tar.gz
      # - run:
      #     name: Run Splunk Packaging Toolkit
      #     command: |
      #       slim package TA-ibm_secretserver/src
      - run:
          name: Get Splunk AppInspect CLI
          command: |
            curl -Ls https://download.splunk.com/misc/appinspect/splunk-appinspect-latest.tar.gz -o appinspect-lastest.tar.gz 
            mkdir appinspect-latest
            tar -zxvf appinspect-lastest.tar.gz -C appinspect-latest --strip-components=1
      - run:
          name: Install Splunk AppInspect CLI
          command: |
            cd appinspect-latest
            rm -rf venv
            sudo pip install --upgrade pip setuptools
            sudo pip install virtualenv
            virtualenv --clear venv
            source venv/bin/activate
            pip install .
      - run:
          name: Run Splunk AppInspect
          command: |
            cd TA-ibm_secretserver/src
            tar -zcvf TA-ibm_secretserver.tar.gz TA-ibm_secretserver
            mkdir ../dist
            cp TA-ibm_secretserver.tar.gz ../dist/
            cd ../../
            cd appinspect-latest
            pwd
            ls -ltr
            source venv/bin/activate
            ../splunkbase_leads_app/inspect.sh
#            splunk-appinspect inspect ../TA-ibm_secretserver/src/TA-ibm_secretserver.tar.gz --mode test --included-tags=cloud
      - save_cache:
          key: deps1-{{ .Branch }}-{{ checksum "TA-ibm_secretserver/src/TA-ibm_secretserver/default/app.conf" }}
          paths:
            - "venv"
      - persist_to_workspace:
          root: TA-ibm_secretserver/dist/
          paths:
              - TA-ibm_secretserver.tar.gz
  publish-github-release:
    docker:
      - image: cibuilds/github:0.10
    steps:
      - attach_workspace:
          at: ~/TA-ibm_secretserver/dist/TA-ibm_secretserver.tar.gz
      - run:
          name: publish release on github
          command: |
            ghr -t ${GITHUB_TOKEN} -u ${CIRCLE_PROJECT_USERNAME} -r ${CIRCLE_PROJECT_REPONAME} -c ${CIRCLE_SHA1} -delete ${CIRCLE_TAG} ~/TA-ibm_secretserver/dist/TA-ibm_secretserver.tar.gz
workflows:
  version: 2.1
  validate-and-build:
    jobs:
      - validate-content:
          filters:
            tags:
              only: /.*/
      - publish-github-release:
          requires:
            - validate-content
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/