##TIMESTAMP1## ##DEVICE## CEF:0|Thycotic Software|Secret Server|10.7.000059|16|USER - LOGIN|2|msg=[[SecretServer]] Event: [User] Action: [Login] By User: ##USER## Item Name: ##USER## (Item Id: ##USERID##)  suid=##USERID## suser=##USER## cs4=##USERNAME## cs4Label=suser Display Name duser=##USER## duid=##USERID## fname=##USER## fileType=User fileId=##USERID## src=##SRCIP## rt=##TIMESTAMP2##
