name: Publish to Splunkbase
on: workflow_dispatch
# on:
#  push:
#    branches:
#      - "main"
#    tags:
#      - "v[0-9]+.[0-9]+.[0-9]+"
#  pull_request:
#    branches:
#      - "main"

jobs:

  # Package App
  splunkbase-release:
    name: Splunkbase release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          # semantic-release won't trigger a tagged build if this is not set false
          persist-credentials: false

      # Our add-on contains Python code, so we need to install Python in the container
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.7

      # - name: Package Splunk App with SLIM
      #   id: slim
      #   uses: splunk/addonfactory-packaging-toolkit-action@v1.1.1
      #   with:
      #     source: /github/workspace/package
      - name: Load ENV variables
        id: vars
        run: |
          source .splunkbase
          echo ::set-output name=SPLUNKBASE_ID::"echo $SPLUNKBASE_ID"
          echo ::set-output name=SPLUNKBASE_SPLUNK_VERSION::"echo $SPLUNKBASE_SPLUNK_VERSION"
          echo ::set-output name=SPLUNKBASE_SPLUNK_CIM_VERSION::"echo $SPLUNKBASE_SPLUNK_CIM_VERSION"

      - name: Package Splunk App with CLI
        run: |
          pwd
          ls -la
          cd ${GITHUB_WORKSPACE}
          mv package TA-ibm_secretserver
          mkdir dist
          tar -zcvf dist/TA-ibm_secretserver.tgz TA-ibm_secretserver
          cd dist
          ls -la
          pwd

      - name: Authenticate to Splunkbase
        run: |
          curl --location --request POST 'https://splunkbase.splunk.com/api/account:login/' --data-urlencode 'username='"${{ secrets.SPLUNKBASE_USER }}"'' --data-urlencode 'password='"${{ secrets.SPLUNKBASE_PASSWORD }}"'' > login.xml

      - name: Publish to Splunkbase
        run: |
          SPLUNKBASE_SESSION_ID=$(awk '/id/{printf $1}' login.xml | cut -d">" -f2 | cut -d"<" -f1)
          echo $SPLUNKBASE_SESSION_ID
          echo ${{ steps.vars.outputs.SPLUNKBASE_ID }}
          echo ${{ steps.vars.outputs.SPLUNKBASE_SPLUNK_VERSION }}
          echo ${{ steps.vars.outputs.SPLUNKBASE_SPLUNK_CIM_VERSION }}
          curl --location --request POST 'https://splunkbase.splunk.com/api/v1/app/'"${{ steps.vars.outputs.SPLUNKBASE_ID }}"'/new_release/' --header 'Authorization: Basic ZGlvZ29mZ206cHVmcFloLWd5cWZ1Ny13dW5oeWQ=' --header 'Cookie: sessionid='"$SPLUNKBASE_SESSION_ID"''; csrftoken=sMucg13V1Ul7v7JNlQLPzjr3fFbZFpHQmNwW4wvnFfJXrVXbvKUaG6lzCGPi48tM' --form 'files[]=@/home/runner/work/TA-ibm_secretserver/TA-ibm_secretserver/dist' --form 'filename=TA-ibm_secretserver.tgz' --form 'cim_versions='"${{ steps.vars.outputs.SPLUNKBASE_SPLUNK_CIM_VERSION }}"'' --form 'splunk_versions='"${{ steps.vars.outputs.SPLUNKBASE_SPLUNK_VERSION }}"'' --form 'visibility=true'

        
      
